.fixed_page{
	width: 1100px; 
	margin: auto; 
	padding: 50px;
	padding-top: 30px;
	font-family: 'Montserrat', sans-serif;
}

hr{
	border-top: 1px solid rgb(32, 108, 230);
}

b{
	color: rgb(32, 108, 230);
}

.trade_map_container{
	width: 100%;
	margin-bottom: 20px;
}

.grid-2 {
    display: flex;
    justify-content: space-between;
    align-items: start; /* align the tops of the charts */
}

.doublebar_chart_container,
.line_chart_container {
    flex: 1; /* makes them take up equal width */
    height: 400px; /* or any height you desire */
    margin: 10px; /* spacing around each chart */
    margin-top: 10px;
}

.title-sub-div-2 {
    width: 100%; /* ensures the title takes up the full width of its container */
}
