.fixed_page{
	width: 1100px; 
	margin: auto; 
	padding: 50px;
	padding-top: 30px;
	font-family: 'Montserrat', sans-serif;
}

hr{
	border-top: 1px solid rgb(32, 108, 230);
}

b{
	color: rgb(32, 108, 230);
}

.trade_map_container{
	width: 100%;
	margin-bottom: 20px;
}

.grid-2 {
    display: flex;
    justify-content: space-between;
    align-items: start; /* align the tops of the charts */
}

.doublebar_chart_container,
.line_chart_container {
    flex: 1; /* makes them take up equal width */
    height: 400px; /* or any height you desire */
    margin: 10px; /* spacing around each chart */
}

.title-sub-div-2 {
    width: 100%; /* ensures the title takes up the full width of its container */
}

.grid-3 {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    width: 1200px;
    margin: auto;
}

.left-section, .right-section, .bottom-left-section, .bottom-right-section {
    width: 48%; 
    box-sizing: border-box; /* This helps with padding/margin calculations */
}

.left-section .scatter_plot_container, .bottom-left-section .scatter_plot_container {
    width: 100%;
    height: 500px;
    margin-bottom: 20px; 
}

.right-section p, .bottom-right-section p {
    flex: 1;
    margin-bottom: 20px;
}

.right-section p {
    padding-left: 200px; /* Adjust this value to move the text further to the right */
}

.bottom-left-section, .bottom-right-section {
    margin-top: 50px; /* Increase the value as needed */
}

.bottom-left-section p {
    margin-top: -30px; /* Add space at the top of the paragraph */
}

.bottom-right-section {
    position: relative;
    top: -100px;  /* this will move the entire bottom-right-section up */
}

.subtitle h2 {
    margin: 20px;
    padding: 0;
    text-align: left;
}

.section-three .subtitle {
    position: relative;
}

.section-three .subtitle {
    position: relative;
    top: -250px;  /* this will move the entire subtitle section up */
}


