body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

#global_map {
    width: 100%; 
    max-width: 900px; 
}

.main-title {
    font-size: 3.8em;
}

.dark-blue {
    color: #090968;
}

.light-blue {
    color: #1a689f;
}

.map-description {
    color: #002843;  
    font-weight: bold;
}
