.fixed_page{
	width: 1100px; 
	margin: auto; 
	padding: 50px;
	padding-top: 30px;
	font-family: 'Montserrat', sans-serif;
}

.centersection h1 {
    margin-left: 200px;  /* adjust this value as needed */
}

.centersection {
    margin-left: 150px;  
}

hr{
	border-top: 1px solid rgb(32, 108, 230);
}

b{
	color: rgb(32, 108, 230);
}

.trade_map_container{
	width: 100%;
	margin-bottom: 20px;
}

.grid-2 {
    display: flex;
    justify-content: space-between;
    align-items: start; /* align the tops of the charts */
}

.doublebar_chart_container,
.line_chart_container {
    flex: 1; /* makes them take up equal width */
    height: 400px; /* or any height you desire */
    margin: 10px; /* spacing around each chart */
}

.title-sub-div-2, .vertical-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* This will horizontally center the title and the graph */
}

.title-sub-div-2 h2 {
    margin-left: -100px;  /* adjust this value as needed */
}

.title-sub-div-3 h2 {
    margin-left: 30px;  /* adjust this value as needed */
}

.move-text-right {
    padding-left: 50px; /* Adjust as needed */
}


.grid-3 {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    width: 1200px;
    margin: auto;
}

.title-sub-div-4 h2 {
    margin-left: 200px;  /* adjust this value as needed */
}

.title-sub-div-5 h2 {
    margin-left: 230px;  /* adjust this value as needed */
}

.left-section, .right-section, .bottom-left-section, .bottom-right-section {
    width: 48%; 
    box-sizing: border-box; /* This helps with padding/margin calculations */
}

.left-section .scatter_plot_container, .bottom-left-section .scatter_plot_container {
    width: 100%;
    height: 500px;
    margin-bottom: 20px; 
}

.right-section p {
    padding-left: 200px; /* Adjust this value to move the text further to the right */
    margin-top: 70px  /* move scatter plot description up */
}

.bottom-right-section {
    position: relative;
    top: 10px;  /* move area chart up */
}

.bottom-left-section p {
    margin-top: 80px; /* move area chart description up */
}

.grid-4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1200px;
    margin: auto;
    margin-left: 50px;  /* Adjust this value as needed */
}

.title-sub-div-6 h2 {
    margin-left: 180px;  /* adjust this value as needed */
}

.bottom-left-section2 {
    position: relative;
    top: -160px;  /* move area chart up */
}
